 body {
   font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
   font-size: 10pt;
   width: 200px;
   margin: 2px;
 }
 
 .content * {
   display: none;
 }
 
 .content {
   margin-left: 5px;
   margin-right: 5px;
   text-align: center;
   min-height: 55px;
   justify-content: center;
   align-items: center;
 }
 /* Handling error scenarions */
 
 .error .content {
   color: #D36E4A;
   font-weight: 700;
   vertical-align: middle;
   text-align: center;
 }
 
 .error .header {
   background-color: #EA6E5E;
   background-image: url(img/cloud-error.png);
 }
 
 .badApp .badAppTxt, .badPageNA .badPageNATxt, .badPageNotQuiz .badPageNotQuizTxt, .badNotAnswered .badNotAnsweredTxt {
   display: block;
 }
 /* Handling success scenarions */
 
 .success .header {
   background-color: #37DD7A;
 }
 
 .success .content button {
   margin-top: 10px;
   background-color: #37DD7A;
   border: none;
   color: white;
   padding: 4px;
   font-weight: 600;
   font-size: 0.9em;
 }
 
 .success .content * {
   width: 100%;
   margin: auto;
   color: #175D34;
   font-weight: bolder;
 }
 
 .success .content #drillText {
   display: block;
   font-size: 0.7em;
   min-height: 400px;
 }
 
 .succShort .header, .succShortDone .header {
   background-image: url(img/cloud-down.png);
 }
 
 .succShort #drillText,.succShortDone #drillText {
   position: fixed;
   left: -9999px;
 }
 
 .succShort .info, .succShort #copyToCLBShort, .succShort #fullButton, .succShortDone .infoDone,.succShortDone #fullButton, .succLong #copyToCLB, .succNoCLB .noCLBsupport {
   display: block;
 }
 
 .succLong .header, .succNoCLB .header {
   background-image: url(img/cloud-check.png);
 }
 /* Other */
 
 .header {
   width: 100%;
   height: 50px;
   background-repeat: no-repeat;
   background-position: center;
   margin: 0px;
   padding: 0px;
   margin-bottom: 10px;
 }
 
 .footer {
   margin-bottom: 10px;
 }
 /*dev */
 
 #devSection {
   margin-top: 30px;
   position: absolute;
   right: 10px;
   top: 10px;
 }
 
 #devSection button {
   display: block;
   margin-top: 10px;
 }